<div class="archive" >
  <div>
    <h1 style="margin:auto; text-align:center;"><%=  page.tag !== undefined ? page.tag : __('menu.archive')  %></h1>
    </div>
<el-timeline>
  <% 
  var sb = [];
  page.posts.toArray().forEach(function(post) {
    var ssb = post;
    sb.push(ssb);
  });

  // 按日期降序排序
  sb.sort(function(a, b) {
    var dateA = new Date(a.date);
    var dateB = new Date(b.date);
    return dateB - dateA;
  }); %>
  <% sb.forEach(function(post){ %>
  <el-timeline-item class="time-item" placement="top" size="large" timestamp="<%= post.date.format('YYYY-MM-DD HH:mm:ss') %>">
    <el-card class="bg-stone-800 text-stone-200">
      <h2><a href="<%= url_for(post.path)%>"><%= post.title %></a></h2>
    </el-card>
  </el-timeline-item>
  <% }); %>
</el-timeline>
<%-partial('partials/paginator')%>
</div>