<!DOCTYPE html>
<html class="dark" lang="<%= config.language || 'en' %>">
<head>
    <%- partial('partials/head.ejs',{cache: true}) -%>
</head>
<body>
<main>
    <%- partial('partials/alert.ejs') -%>
    <%- partial('partials/header.ejs')%>
    <% if (theme.search && theme.search.enable) { %>
        <%- partial('partials/search.ejs') %>
    <% } %>
        <%- body %>
    <%- partial('partials/footer.ejs')-%>
    <%- js('js/background') -%>
</main>
</body>
</html>
