
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>" class="dark" >
<head>
  <%- partial('partials/head.ejs') -%>
</head>
<body class="bg-stone-900 text-stone-200">
  <div id="app">
  <%- partial('partials/header.ejs') -%>
  <el-container>
  <%- partial('sidebar-left.ejs') -%>
  <div  class="main-container">
 <%- body %>
  </div>
  <%- partial('sidebar-right.ejs') -%>
  </el-container>
  </div>
 <script>
  const App = {
    data() {
      return {
        message: "Hello Element Plus",
      };
    },
  };
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#app");
</script>

</body>

</html>
