<!DOCTYPE html>
<html lang="<%- config.language %>" >  
<%- partial('_partial/head') %>
<body>
 <%- partial('_partial/header') %>
 <%- body %>
 <%- partial('_partial/footer') %>   
 <script src="<%- config.root %>js/header_hidden.js"></script>
</body>
</html>