<div class=" page-container">
  <div class="night box"><%- page.content %></div>
    <% if (page.path === 'tags/index.html' || page.path === 'tags/') { %>
      <div class="tag-clouds box night">
        <%- tagcloud({
            min_font: 15,         // 最小字体尺寸
            max_font: 36,         // 最大字体尺寸
            unit: 'px',           // 字体尺寸的单位
            amount: 0,           // 标签总量，设置为 30 表示最多显示 30 个标签
            orderby: 'name',      // 标签排列方式，可以是 'name' 或 'length'
            order: 1,             // 排列顺序，1 为升序，-1 为降序
            color: false,          // 是否使用颜色
            start_color: '#ff0000', // 开始的颜色
            end_color: '#0000ff',   // 结束的颜色
            class: 'tag-cloud',   // 标签云的类名
            show_count: false,
          }) %>
      </div>
    <% } else if(page.path === 'categories/index.html' || page.path === 'categories/') {%>
      <div class="category-clouds box night">
        <%- list_categories({
          order: 1,                // 按名称降序排列
          show_count: true,         // 显示每个分类的文章数量
          style: 'list',            // 使用无序列表显示
          separator: ', ',          // 分隔符（仅在 style 不是 list 时有用）
          class: 'category-list',   // 列表的 class 名称 // 将分类名称转换为大写
        }) %>
        </div>
    <%} else if(page.path === 'links/index.html' || page.path==='links/'){%>
      <div class="links night">
        <div class="tabs-container night">
          <button class="tablinks box night" onclick="openTab(event, 'friend_links')">friend_links</button>
          <button class="tablinks box night" onclick="openTab(event, 'referral_sites')">referral_sites</button>
        </div>
      <ul class="links night active links-box tabcontent" id="friend_links">
      <% for (var i = 0; i < theme.other_links.friend_links.length; i++) { %>
        <li class="link-content box night">
          <a href="<%= theme.other_links.friend_links[i].link %>" alt="<%= theme.other_links.friend_links[i].name %>" >
            <div class="link-box">
            <img src="<%= theme.other_links.friend_links[i].img %>" class="link-img nofancybox" alt="<%= theme.other_links.friend_links[i].name %>" />
            <div class="link-text">
            <a class="link-title hover-underline" href="<%= theme.other_links.friend_links[i].link %>" alt="<%= theme.other_links.friend_links[i].name %>" ><%= theme.other_links.friend_links[i].name %></a>
            <p class="link-description"><%= theme.other_links.friend_links[i].description %></p>
            </div>
            </div>
          </a>
        </li>
      <% } %>
        </ul>
      <ul class="links-box links night active tabcontent" id="referral_sites">
        <% for (var i = 0; i < theme.other_links.referral_sites.length; i++) { %>
          <li class="link-content box night">
            <a href="<%= theme.other_links.referral_sites[i].link %>" alt="<%= theme.other_links.referral_sites[i].name %>" >
              <div class="link-box">
              <img src="<%= theme.other_links.referral_sites[i].img %>" class="link-img nofancybox" alt="<%= theme.other_links.referral_sites[i].name %>" />
              <div class="link-text">
              <a class="link-title hover-underline" href="<%= theme.other_links.referral_sites[i].link %>" alt="<%= theme.other_links.referral_sites[i].name %>" ><%= theme.other_links.referral_sites[i].name %></a>
              <p class="link-description"><%= theme.other_links.referral_sites[i].description %></p>
              </div>
              </div>
            </a>
          </li>
        <% } %>
        </ul>
        </div>
        <script>
          function openTab(evt, tabName) {
            // 获取所有tabcontent元素
            var tabcontent = document.getElementsByClassName("tabcontent");      
            // 移除所有tabcontent的显示
            for (var i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none"; // 隐藏所有内容区域
            }
            // 显示当前选择的tab，并添加active类
            document.getElementById(tabName).style.display = "flex"; // 显示内容区域
            //evt.currentTarget.className += " active"; // 为当前点击的tablinks添加active类
          }
          document.addEventListener('DOMContentLoaded', (event) => {
  var firstTab = document.getElementsByClassName("tablinks")[0];
  openTab({currentTarget: firstTab}, firstTab.getAttribute('onclick').split('\'')[1]);});
        </script>
      <%}%>
</div>
