<header class="header" id="header">
    <span class="header-toggle-all">
            <span class="header-toggle">        
            <a href="<%= url_for() %>" class="logo" alt="<%= config.title %>">
                <img class="logo-img" src="<%= url_for() %>images<%= theme.logo %>" style="width: 50px; height: 50px;margin: 0px" alt="logo"/>
            </a>
            <a href="<%= url_for() %>" class="logo logo-title hover-underline" alt="<%= config.title %>">
                <h1><%= config.title %></h1>
            </a>
    </span>
    <i class="fa fa-align-justify menu-column night big" aria-hidden="true" /></i>
    <nav class="navbar">
        <ul class="menu">
            <% for (let name in theme.menu) { %>
                <% let [url, icon] = theme.menu[name].split('||').map(item => item.trim()); %>
                <li class="menu-item">
                    <a href="<%= url %>" class="menu-item-link" alt="<%= name %>">
                        <i class="fa <%= icon %>" aria-hidden="true"></i>
                        <p class="hover-underline"><% 
                            const translated = __('menu.' + name); 
                            var menuItem = translated
                            if(menuItem =='menu.'+name)
                               { menuItem = name}
                            %>
                            <%= menuItem %></p>
                    </a>
                </li>
            <% } %>
            <li class="menu-item">
                <a class="menu-item-link" alt="search" href="javascript:void(0);" id="triggerSearch" onclick="document.getElementById('search-container').style.display = 'block';">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <p class="hover-underline"><%=__('index.search') %></p>
                </a>
            </li>
        </ul>
        </div>
    </nav>
</i>
    </span>
</header>

<div id="mobie-header">
<header  id="mobie-header-front">
    <div class="mobie-header-nameicon">        
            <a href="<%= url_for() %>" class="logo" alt="<%= config.title %>">
                <img class="logo-img" src="<%= url_for() %>images/logo.png" style="width: 50px; height: 50px;margin: 0px" alt="logo"/>
            </a>
            <a href="<%= url_for() %>" class="logo logo-title hover-underline" alt="<%= config.title %>">
                <h1><%= config.title %></h1>
            </a>
            <i class="fa fa-align-justify night big ilist" aria-hidden="true" onclick="if(document.getElementById('mobie-navbar').style.display == 'none'){document.getElementById('mobie-navbar').style.display = 'block';}else{document.getElementById('mobie-navbar').style.display = 'none';}" /></i>
    </div>
</header>
<nav id="mobie-navbar">
    <ul class="menu">
        <% for (let name in theme.menu) { %>
            <% let [url, icon] = theme.menu[name].split('||').map(item => item.trim()); %>
            <li class="menu-item">
                <a href="<%= url %>" class="menu-item-link" alt="<%= name %>">
                    <i class="fa <%= icon %>" aria-hidden="true"></i>
                    <p class="hover-underline"><% 
                        const translated = __('menu.' + name); 
                        var menuItem = translated
                        if(menuItem =='menu.'+name)
                           { menuItem = name}
                        %>
                        <%= menuItem %></p>
                </a>
            </li>
        <% } %>
        <li class="menu-item">
            <a class="menu-item-link" alt="search" href="javascript:void(0);" id="triggerSearch" onclick="document.getElementById('search-container').style.display = 'block';">
                <i class="fa fa-search" aria-hidden="true"></i>
                <p class="hover-underline"><%=__('index.search') %></p>
            </a>
        </li>
    </ul>
    </div>
</nav>
</div>